* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.color-primary {color: hsl(243, 86%, 85%);}
.color-primary-dark {color: hsl(243, 87%, 12%);}
.color-realce{color: hsl(163, 95%, 43%);}
.color-grey-light{color: hsl(106, 0%, 98%);}
.color-grey{color: hsl(0, 0%, 50%);}
.color-grey-dark{color: hsl(0, 0%, 17%)}

h1{
    color: hsl(0, 0%, 17%);
}

.button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.img-r{
    width: 100%;
    margin: 0 auto;
}
.img-i{
    width: inherit;
    margin: 0 auto;
}


.button-realce{
    color: #fff;
    background-color: hsl(163, 95%, 43%);
}

.button-light {
    color: #fff;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}

.text-left{text-align: left !important; }
.text-right{text-align: right !important;}
.text-center{text-align: center !important;}
.text-justify{text-align: justify !important;}


header{
  background: url("../images/bg-intro-mobile.svg") no-repeat;
  background-position: top right;
  background-size: inherit;
  padding-bottom: 10%;
}


/* Responsividade */

/* conteiner */
.container  {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0;
}
@media (min-width: 1170px) {
    .container {
        /* max-width: 1170px; */
        padding: 0;
    }
}

/* linha */
.row {
    margin-left: -5px;
    margin-right: -5px;
}
.row:before,
.row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}

/* colunas */
.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: -4px;
    *zoom: 1;
    *display: inline;
}

.col-1 {
    width: 100%;
}

.paragrafo{
    color: hsl(0, 0%, 50%);
}

/*header*/
nav{
    padding: 20px 10px;
}
.header-text{
    text-align: center;
    padding: 50px;
}
.header-text h1{
    padding-top: 25px; 
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 25px; 
}
.header-text p{
    color: hsl(0, 0%, 50%);
    margin-bottom: 35px;
}
.signup:hover{
    background-color: hsla(163, 95%, 43%, .8);
}
.mostrar-pequeno{
    display: inline-block;
}
.sumir-grande{
    display: none;
}
.col-2-header {
    width: 50%;
}
.header-img{
    text-align: center;
}
.header-img img{
    padding-top: 30px;
    width: 70%;
}
/*header*/
.wrapper{
    padding: 5%;
}
/*productive*/
.productive{
    padding-top: 60px;
}
.productive, .start{
    text-align: center
}
.productive h2, .start h2{
    padding: 20px 50px;
}
.productive p, .start p{
    margin-bottom: 50px;
}
.productive-item {
    padding: 30px;
}
.productive-item img{
    width: 100px;
    height: 125px;
}
.productive h3{
    padding: 30px 50px;
}
/*productive*/
/*start*/
.get{
    font-weight: 700 ;
    padding: 15px 80px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}
.get:hover{
    background-color: hsla(163, 95%, 43%, .8);
}
.start{
    margin-top: 75px;
    margin-bottom: 25px;
}
.start h2{
    margin-top: 30px;
}
.start p{
    padding: 10px 30px;
    margin-bottom: 30px;
}
.start button{
    margin-bottom: 50px;
}
/*start*/
/*connect*/
.connect{
    text-align: center;
    position: relative;
    vertical-align: middle;
    padding-top: 100px;
    padding-bottom: 100px;
}
.connect h2{
    padding-bottom: 30px;
}
/*connect*/
/*card*/
.card{
    margin: 10px 50px;
    box-shadow: 0 0 2px 2px hsl(0, 0%, 90%);
    text-align: center;
}
.card-header{
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-radius: 2px;
    padding: 40px;
}
.card-body{
    padding: 15px;
}
/*card*/
/*footer*/
footer{
    padding: 6%;
    color: #fff;
    background-color: hsl(243, 87%, 12%);
}
.footer-content{
    padding-right: 0;
}
.footer-content img{
    padding-bottom: 15px;
}
.footer-content h4{
    padding-bottom: 15px;
}
.join{
    padding-bottom: 15px;
}
.join input{
    height: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    width: 100%;
    margin: 10px 0;
    margin-right: 5px;
}
.join button{
    width: 30%;
    margin: 10px 0;
}
.footer-col{
    vertical-align: center;
    padding: 20px 0;
}
.btn-content{
    text-align: right;
}
.footer-col{
    padding-top: 60px;
}
.footer-col h3{
    padding-bottom: 15px;
    font-weight: 800;
}
.footer-content{
    padding-top: 50px;
}
.footer-col p{
    padding-bottom: 10px;
}
.contact{
    padding-bottom: 20px;
}
.contact img{
    padding: 0;
    text-align: center;
    padding-right: 10px;
}

.back-grey{
	position: relative;
	overflow: hidden;
	padding-top: 90px;	
}

.back-grey::before{
	position: absolute;
	content: "";
	background-color: hsl(106, 0%, 98%);
	/* background-color: black; */
	border-radius: 50px;
	transform: rotate(10deg) skewY(5deg);
    width: 140%;
    margin-left: -80px;
	height: 1150px;
	z-index: -1;
}
h2, h3{
    color: hsl(243, 87%, 12%);
}
/*footer*/
@media (min-width: 992px) {
    .col-content {
        width: 60%;
    }

    .col-sidebar {
        width: 40%;
    }
    header{
        background: url("../images/bg-intro-desktop.svg") no-repeat;
        background-position: top right;
        background-size: inherit;
    }
    .sumir-grande{
        display: inline-block;
    }
    .mostrar-pequeno{
        display: none;
    }
    .col-2 {
        width: 50%;
    }
    .col-2-1x{
        width: 33.3333%;
    }
    .col-2-3x{
        width: 66.6667%;
    }
    .col-3 {
        width: 33.3333%;
    }
    nav{
        padding: 30px 50px;
    }
    .header-text{
        text-align: left;
        padding: 90px 50px;
    }
    .header-img img{
        padding: 20px;
    }
    .header-text h1{
        font-size: 30px;
        padding-right: 200px;
    }
    .header-text p{
        padding-right: 30px;
    }
    .productive, .start{
        padding-bottom: 30px;
    }
    .productive p{
        padding: 10px 310px;
    }
    .productive-item img{
        padding: 20px 0;
        height: 150px;
    }
    .productive-item{
        padding: 30px;
        align-content: center;
        text-align: center;
    }
    .start p{
        padding: 10px 250px;
        margin-bottom: 50px;
    }
    .footer-content{
        padding-top: 0;
        padding-right: 160px;
    }
    .footer-col{
        padding: 55px 0;
    }
    .join input{
        width: 70%;
    }
    .join button{
        width: 100%;
    }
    .btn-content{
        width: 25%;
        text-align: center;
    }
    .flex-meio{
        display: flex;
    }
    .connect{
        margin: auto 0;
    }
    .pad-top{
        padding-top: 70px;
    }
    .pad-top-negative{
        margin-top: -70px;
    }
    .card{
        margin: 10px;
    }
    .connect{
        padding-top: 0;
        padding-bottom: 0;
        text-align: left
    }
    .card{
        margin: 10px 10px;
        background: white;
    }
    .back-grey{
        position: relative;
        overflow: hidden;
        padding-top: 50px;	
    }

    .back-grey::before{
        position: absolute;
        content: "";
        background-color: hsl(106, 0%, 98%);
        border-radius: 50px;
        transform: rotate(35deg) skewY(-25deg);
        width: 95%;
        height: 650px;
        z-index: -1;
    }
}
/* EndResponsividade */